<div class="container spacer">
  <div class="panel-primary">
    <div class="panel-heading">Liste des contacts</div>


   <div class="panel-body">
    <div class="form-group"> 
      <label for="motCle">Mot Cle : </label>
      <input type="text" name="motclee" id="motCle" [(ngModel)]="motCleVar"/>
      <button class="btn btn-primary" (click)="chercher()">Chercher</button>
     
    </div>
    
      <table class="table table-hover">
        <tr>
          <th>ID Contact</th>
          <th>Nom Contact</th>
          <th>Prenom Contact</th>
          <th>Email Contact</th>
        </tr>
        <tr *ngFor="let temp of pageContacts?.content">
          <td>{{temp.idContact}}</td>
          <td>{{temp.nomContact}}</td>
          <td>{{temp.prenomContact}}</td>
          <td>{{temp.emailContact}}</td>
          <td><a class="clickable" (click)="onEditContact(temp.idContact)">Editer</a></td>
          <td><a class="clickable" (click)="onDeleteContact(temp.idContact)">Supprimer</a></td>
        </tr>
      </table>
      <div class="container">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':(i)==page}" *ngFor="let p of pages; let i=index"><a class="clickable" (click)="goToPage(i)">{{i}}</a></li>
        </ul>
      </div>

   </div>
  </div>
</div>